<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/smith/IdeaProjects/galaxytrainer/taller01-gt/seleniumtaller1"><classes><class name="pages.RegisterPage"><methods><include name="registroexitoso"/><include name="registrocamposfaltantes"/><include name="registroformatocorreoerrado"/><include name="registroclavesegura"/><include name="registroconfirmacionclave"/><include name="registrocorreounico"/></methods></class><class name="tests.LoginTest"><methods><include name="loginexitosolTest"/><include name="loginfallidoTest2"/><include name="logincredencialesblancoTest3"/><include name="loginsinemailTest4"/><include name="loginolvidoclaveTest5"/></methods></class><class name="tests.OrderTest"><methods><include name="ordenagregarproducto"/><include name="ordeneliminarproducto"/><include name="ordenmodificarcantidadproducto"/><include name="ordencrearnuevo"/></methods></class></classes></test></suite>