<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/smith/IdeaProjects/galaxytrainer/taller01-gt/seleniumtaller1">

        <classes>
            <class name="tests.LoginTest"></class>
            <class name="tests.OrderTest"></class>
            <class name="tests.RegisterTest"></class>
        </classes>

        <groups>
            <run>
                <include name="Functional"/>
                <include name="Regression"/>
                <include name="Integration"/>
            </run>
        </groups>
    </test>
</suite>